<div class="container">
    <div class="jumbotron m-h-lg">
        <h1>Pizzacon!</h1>
        <p class="lead">
            Pizzacon is the pizza event we all want. A summer weekend full of exciting and engrossing
            pizza panels covering everything there is to know and taste about pizza.
        </p>
        <hr />
        <p>
            Unfortunately it is also not real. Pizzacon is an Angular site developed by Jared
            Hettinger as a demo of what you can build with the web framework. Want to learn more
            about how I built this?
        </p>
        <a (click)="gotoAbout()" class="btn btn-success white">Learn more</a>
    </div>
    <p class="text-center">
        GitHub: <a href="https://github.com/kafkaesc">kafkaesc</a> | Twitter:
        <a href="https://twitter.com/_kafkaesc">@_kafkaesc</a>
    </p>
</div>
