<div class="m-lg">
    <div class="row">
        <div class="col-md-12">
            <h1>Login Component</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form
                #loginForm="ngForm"
                (ngSubmit)="login(loginForm.value)"
                autocomplete="off"
                novalidate
            >
                <label for="username" class="m-b-sm">Username</label>
                <em
                    *ngIf="
                        loginForm.controls.username?.invalid &&
                        (loginForm.controls.username?.touched || mouseoverLogin)
                    "
                    class="err"
                >
                    Required
                </em>
                <input
                    id="username"
                    name="username"
                    (ngModel)="(username)"
                    required
                    type="text"
                    class="form-control m-b-md"
                    placeholder="Enter username"
                />
                <label for="password" class="m-b-sm">Password</label>
                <em
                    *ngIf="
                        loginForm.controls.password?.invalid &&
                        (loginForm.controls.password?.touched || mouseoverLogin)
                    "
                    class="err"
                >
                    Required
                </em>
                <input
                    id="password"
                    name="password"
                    (ngModel)="(password)"
                    required
                    type="password"
                    class="form-control m-b-md"
                    placeholder="Enter password"
                />
                <span (mouseenter)="mouseoverLogin = true" (mouseleave)="mouseoverLogin = false">
                    <button
                        [disabled]="loginForm.invalid"
                        class="btn btn-primary"
                        [ngClass]="{ 'cur-noal': loginForm.invalid }"
                    >
                        Login
                    </button>
                </span>
                <button (click)="cancel()" class="btn btn-secondary m-l-sm">Cancel</button>
            </form>
        </div>
    </div>
</div>
