<div class="row">
    <div class="col-md-6">
        <form [formGroup]="panelistForm" (ngSubmit)="savePanelist()" autocomplete="off">
            <label for="firstName" class="m-b-xs">First Name</label>
            <em
                *ngIf="firstName.invalid && firstName.dirty && firstName.errors?.required"
                class="err"
            >
                Required
            </em>
            <em
                *ngIf="firstName.invalid && firstName.dirty && firstName.errors?.maxlength"
                class="err"
            >
                Limit is 70 characters
            </em>
            <input
                id="firstName"
                formControlName="firstName"
                type="text"
                class="form-control m-b-sm"
                placeholder="Enter a first name..."
            />
            <label for="lastName" class="m-b-xs">Last Name</label>
            <em
                *ngIf="lastName.invalid && lastName.dirty && lastName.errors?.maxlength"
                class="err"
            >
                Limit is 70 characters
            </em>
            <input
                id="lastName"
                formControlName="lastName"
                type="text"
                class="form-control m-b-sm"
                placeholder="Enter a last name..."
            />
            <label for="title" class="m-b-xs">Title</label>
            <em *ngIf="title.invalid && title.dirty && title.errors?.maxlength" class="err">
                Limit is 70 characters
            </em>
            <em *ngIf="title.invalid && title.dirty && title.errors?.restrictedWords" class="err">
                You can't say that: {{ title.errors.restrictedWords }}
            </em>
            <input
                id="title"
                formControlName="title"
                type="text"
                class="form-control m-b-sm"
                placeholder="Enter the panelist's title..."
            />
            <label for="bio" class="m-b-xs">Short Bio</label>
            <em *ngIf="bio.invalid && bio.dirty && bio.errors?.maxlength" class="err">
                Limit is 140 characters
            </em>
            <em *ngIf="bio.invalid && bio.dirty && bio.errors?.restrictedWords" class="err">
                You can't say that: {{ bio.errors.restrictedWords }}
            </em>
            <input
                id="bio"
                formControlName="bio"
                type="text"
                class="form-control m-b-sm"
                placeholder="Enter a short bio..."
            />
            <label for="imageUrl" class="m-b-xs">Profile Image URL</label>
            <em
                *ngIf="imageUrl.invalid && imageUrl.dirty && imageUrl.errors?.maxlength"
                class="err"
            >
                Limit is 280 characters
            </em>
            <em
                *ngIf="imageUrl.invalid && imageUrl.dirty && imageUrl.errors?.pattern"
                class="err"
            >
                Must be a jpg or png image
            </em>
            <input
                id="imageUrl"
                formControlName="imageUrl"
                type="text"
                class="form-control m-b-sm"
                placeholder="Enter the URL for a profile image..."
            />
            <p *ngIf="panelistForm.controls.imageUrl?.valid">
                Preview:
                <img
                    *ngIf="panelistForm.controls.imageUrl?.valid"
                    [src]="panelistForm.controls.imageUrl.value"
                    class="preview"
                />
            </p>

            <button
                [disabled]="panelistForm.invalid"
                class="btn btn-primary"
                [ngClass]="{ 'cur-noal': panelistForm.invalid }"
            >
                Save
            </button>
        </form>
    </div>
</div>
